main{
    width: 1100px;
    margin: 0 auto;
    h2{
        font-family: sans-serif;
        font-weight: 300;
        font-size: 1.75rem;
        color: $CouleurTitresSombres;
    }
    p{
        font-family: 'Mukta Mahee',sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        color: $CouleurParagraphes;
        width: 100%;
    }
    #presentation{
        width: 50%;
        justify-content: space-around;
        height: 800px;
        @include flex_column;
        img{
            width: 200px;
        }
    }
    form{
        @include flex_column;
        width: 300px;
        height: 300px;
        background: $CouleurBoutonsVert;
        button, select{
            height: 40px;
            width: 100%;
            max-width: 100%;
            margin-top: 20px;
        }
        legend{
            color:$PoliceBlanche;
            font-weight: bold;
            text-align: center;
        }
    }
    article{
        margin-top: 50px;
    }

    .blocs_en_ligne{
        @include flex_space-around;
    }

    #TrouverVelo{
        ul{
            list-style: none;
            li{
                position: relative;
                img{
                    display: flex;
                    align-items: center;
                    justify-content: center;    
                }
                .TexteSurPhoto{
                    position: absolute;
                    color:$PoliceBlanche;
                    z-index: 1;
                    left: 50%;
                    top: 35%;
                    transform: translateX(-50%);
                    text-align: center;
                }
            }
        }
    }

    #Experiences{
        background-image: url(/img/B9724016803Z.1_20200716164949_000+GD1GB7220.1-0.jpg);
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        section{
            width: 100%;
            display: flex;
            justify-content: space-around;   
        }
    }
}