main{
    width: 100%;
    margin: 0 auto;
    h2{
        font-family: sans-serif;
        font-weight: 300;
        font-size: 1.75rem;
        color: $CouleurTitresSombres;
    }
    p{
        font-family: 'Mukta Mahee',sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        color: $CouleurParagraphes;
        width: 100%;
    }
    .BlocsReduits{
        width: 1100px;
        margin: 0 auto;
        margin-top: 100px;
    }

    #map{
        height: 800px;
        width: 50%;
        margin-left: 20px;
    }

    #BlocPresentationCarte{
        display: flex;
    }

    #presentation{
        margin-top: 0px;
        width: 50%;
        justify-content: space-around;
        height: 800px;
        text-align: justify;
        @include flex_column;
        img{
        width: 200px;
        }
    }

    form{
        @include flex_column;
        width: 300px;
        height: 350px;
        background: $CouleurBoutonsVert;
        box-shadow: 2px 2px 10px grey;
        border-radius: 5px;    
        align-items: center;
        justify-content: space-evenly;
        }
        fieldset{
            @include flex_column;
            width: 100%;
            height: 100%;
            border: none;
            align-items: center;
            justify-content: space-evenly;
        }
        legend{
            color:$PoliceBlanche;
            font-weight: bold;
            text-align: center;
        }
    
    article{
        margin-top: 50px;
    }

    .blocs_en_ligne{
        @include flex_space-around;
    }

    #TrouverVelo{
        ul{
            list-style: none;
            li{
                position: relative;
                img{
                    display: flex;
                    align-items: center;
                    justify-content: center;    
                }
                .TexteSurPhoto{
                    position: absolute;
                    color:$PoliceBlanche;
                    z-index: 1;
                    left: 50%;
                    top: 35%;
                    transform: translateX(-50%);
                    text-align: center;
                }
            }
        }
    }

    .bloc_conteneur{
        position: relative;
        width: 100%;
        z-index: 0;
    }
    
    #Experiences{
        position: absolute;
        z-index: 1;
        @include flex_column;
        @include bloc_presentation_taille;
        justify-content: space-between;
        color: $PoliceBlanche;
        top: 50%;
        transform: translateY(-50%);
        
        section{
            width: 100%;
            display: flex;
            justify-content: space-around;   
        }
        h2,p{
            color: $PoliceBlanche;
            margin-left: 10%;
            width: 80%;
        }
    }

    .BlocsContenuCentre{
        @include flex_column;
        align-items: center;
        text-align: center;
    }

    #Grille_main{
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }

    #PartezEnVoyage{
        @include flex_column;
        @include bloc_presentation_taille;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        top: 0px;
        h2,p{
            color: $PoliceBlanche;
            margin-left: 10%;
            width: 80%;
        }
        #PartezEnVoyage_photos{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}