main{
    width: 100%;
    margin: 0 auto;

    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 2em;
        color: $CouleurTitresSombres;
    }

    h2{
        font-family: sans-serif;
        font-weight: 2em;
        font-size: 1.75rem;
        color: $CouleurTitresSombres;
    }
    p{
        font-family: 'Mukta Mahee',sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        color: $CouleurParagraphes;
        width: 100%;
    }
    .BlocsReduits{
        width: 1100px;
        margin: 0 auto;
        margin-top: 100px;
    }

    #map{
        height: 800px;
        width: 50%;
        margin-left: 20px;
    }

    #BlocPresentationCarte{
        display: flex;
    }

    #presentation{
        @include flex_column;
        margin-top: 0px;
        width: 50%;
        justify-content: space-around;
        height: 800px;
        text-align: justify;
        img{
            width: 200px;
        }
    }

    form{
        @include flex_column;
        width: 300px;
        height: 350px;
        background: $CouleurBoutonsVert;
        box-shadow: 2px 2px 10px grey;
        border-radius: 5px;    
        align-items: center;
        justify-content: space-evenly;
        }
        fieldset{
            @include flex_column;
            width: 100%;
            height: 100%;
            border: none;
            align-items: center;
            justify-content: space-evenly;
            p{
                text-align: center;
                color: $PoliceBlanche;
            }
        }
        legend{
            color:$PoliceBlanche;
            font-weight: bold;
            text-align: center;
        }
    
    article{
        margin-top: 50px;
    }

    .blocs_en_ligne{
        @include flex_space-around;
    }

    #TrouverVelo{
        ul{
            list-style: none;
            margin-top: 50px;
            li{
                position: relative;
                img{
                    display: flex;
                    align-items: center;
                    justify-content: center;    
                }
                .TrouverMonVelo:hover{
                    opacity: 0.3;
                    filter: blur(1px);
                }
                .TexteSurPhoto{
                    position: absolute;
                    color:$CouleurTitresSombres;
                    font-weight: bold;
                    z-index: 1;
                    left: 50%;
                    top: 35%;
                    transform: translateX(-50%);
                    text-align: center;
                }
            }
        }
    }

    .bloc_conteneur{
        position: relative;
        width: 100%;
        z-index: 0;
        #experiences_photos{
            display: flex;
            width: 100%;
            .temoignage_bloc{
                height: auto;
                position: relative;
                .temoignage_bloc img{
                    width: 100vw;
                }
                .info_temoignages{
                    position: absolute;
                    @include flex_column;
                    width: 100%;
                    top: 170px;
                    h1{
                        text-align: center;
                    }
                }
                #bloc_info_temoignage p{
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }    
    
    #Experiences{
        position: absolute;
        z-index: 1;
        @include flex_column;
        @include bloc_presentation_taille;
        justify-content: space-between;
        color: $PoliceBlanche;
        top: 50%;
        transform: translateY(-50%);
        
        section{
            width: 100%;
            display: flex;
            justify-content: space-around;   
        }
        h1{
            color: $PoliceBlanche;
            margin-left: 10%;
            width: 80%;
            font-size: 28px;
        }
        p{
            color: $PoliceBlanche;
            margin-left: 10%;
            width: 80%;
        }
    }

    .BlocsContenuCentre{
        @include flex_column;
        align-items: center;
        text-align: center;
    }

    #Grille_main{
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        .div_h1_DouceurDuNord{
            position: relative;
            top: -150px;
        }
    }

    #PartezEnVoyage{
        @include flex_column;
        @include bloc_presentation_taille;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        top: 0px;
        h1,p{
            color: $PoliceBlanche;
            margin-left: 10%;
            width: 80%;
        }
        #PartezEnVoyage_photos{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}

.avis{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: 100%;
    height: 100%;
  
    .review_card{
        background-color: $BgBlancSombre;
        height: 100%;
        width: 100%;
        position: relative;
        padding: 20px;
  
        .card-heure h4{
            padding: 10px;
            font-weight: lighter;
            font-size: 0.9em;
        }
  
        .card-infos{
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
  
            h1{
            font-size: 1.5em;
            }

            ul{
                list-style: none;
                display: flex;
                align-items: center;
    
                li{
                    font-size: 1.1em;
                    color: $CouleurBoutonsVert;
                }
            }
        }

        .etape{
            padding: 10px;
            h3{
                font-size: 0.9em;
                color: $PoliceBlanche;
                background-color: $CouleurBoutonsVert;
                padding: 5px;
                width: max-content;
            }
        }

        .note{
            padding-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
  
            ul{
                list-style: none;
                display: flex;
                align-items: center;
  
                li{
                    font-size: 1em;
                    text-align: center;
                    padding-right: 30px;
                    font-weight: bold;
  
                    span{
                    font-size: 0.8em;
                    font-weight: lighter;
                    }
                } 
            }
        }
    }

    p{
        padding: 0px;
        margin-top: 5%;
        height: auto;
        margin-bottom: 5%;
        text-align: start;
    }
  
    .card-footer {
        display: flex;
        justify-content: space-between;
        width: 85%;
        right: 50%;
        left: 47%;
        transform: translate(-50%);
        margin: 0 auto;
        position: absolute;
        bottom: 0px;
        margin: 3%;
  
        h5 {
          font-size: 0.9em;
          color: $gris;
        }
    }
}

#Grille_main{
    div{
        position: relative;
        h1{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%);
            font-size: 25px;
            color: $PoliceBlanche;
        }
    }
}

#PartezEnVoyage_photos{
    div{
        width: 30%;
        position: relative;
        h1{
            position: absolute;
            width: 100%;
            top: 30%;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            color: $PoliceBlanche;
        }
    }
}
  
#Experiences h1, #PartezEnVoyage h1{
    margin-top: 50px;
}

#Experiences h2{
    @include h2_bloc;
}


.div_h1_DouceurDuNord:hover{
    display: none;
}

