form{
    button{
        border-radius: 5px;
        border: 2px solid $CouleurTitresSombres;
        background-color: $CouleurTitresSombres;
        color: $PoliceBlanche;
        width: 95%;
        height: 40px;
        margin-top: 20px;
    }
    select{
        border-radius: 5px;
        width: 95%;
        height: 40px;
        margin-top: 20px;
    }
}

.BoutonTransparent{
    border-radius: 5px;
    width: 200px;
    color: $PoliceBlanche;
    border: 1px solid white;
    background: none;
    height: 40px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.BoutonTransparent a:visited{
    color: inherit;
    text-decoration: none;
}

.BoutonTransparent a:link{ 
 text-decoration:none; 
} 

button:hover{
    cursor: pointer; 
}

#more{
    @include button;
    color: $CouleurBoutonsVert;
    border: 1px solid $CouleurBoutonsVert;
    background-color: white;
}

#contact_us{
    @include button;
    color: $PoliceBlanche;
    border: 1px solid $CouleurBoutonsVert;
    background-color: $CouleurBoutonsVert;
}