$gris: #585858;

$CouleurTitresSombres: #231f20;

$CouleurParagraphes: #585858;

$CouleurBoutonsVert: #007c74;

$PoliceBlanche: white; 
<<<<<<< HEAD
$BgBlancSombre: #f7f7f7; 
=======
>>>>>>> c8afeb8dcefae2084e7da271358b9072ed671f9a
